@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --quote-font-size: 2.8rem;

  /* Primary */
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);

  /* Neutral */
  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--darkBlue);
  display: flex;
  place-content: center;
  place-items: center;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--neonGreen);
}

.card {
  background-color: var(--darkGrayishBlue);
  color: var(--lightCyan);
  min-height: 35rem;
  width: 55rem;
  min-width: 50rem;
  border-radius: 2rem;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  position: relative;
  text-align: center;
}

.advice-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.advice {
  font-size: var(--quote-font-size);
}

.divider-desktop {
  margin-bottom: 1rem;
  margin-top: auto;
}

.divider-mobile {
  display: none;
}

.dice {
  background-color: var(--neonGreen);
  border-radius: 50%;
  width: 5rem;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  cursor: pointer;
}

.dice:hover {
  box-shadow: 0 0 2rem 0.4rem var(--neonGreen);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--lightCyan);
  margin-bottom: 3rem;
}

.attribution a {
  color: hsl(15, 62%, 83%);
  text-decoration: none;
  transition: color 0.2s ease;
}

.attribution a:hover {
  color: hsl(14, 31%, 52%);
}

@media only screen and (max-width: 500px) {
  .card {
    width: 90%;
    min-width: 0;
    min-height: 32rem;
    margin: -7rem auto 0;
  }

  h1 {
    font-size: 1rem;
  }

  .advice {
    font-size: 2rem;
  }

  .divider-desktop {
    display: none;
  }

  .divider-mobile {
    display: block;
  }

  .attribution {
    display: none;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSIsImZpbGUiOiJvdXRwdXQuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCB1cmwoXCJodHRwczovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2NzczI/ZmFtaWx5PU1hbnJvcGU6d2dodEA4MDAmZGlzcGxheT1zd2FwXCIpO1xuXG46cm9vdCB7XG4gIC0tcXVvdGUtZm9udC1zaXplOiAyLjhyZW07XG5cbiAgLyogUHJpbWFyeSAqL1xuICAtLWxpZ2h0Q3lhbjogaHNsKDE5MywgMzglLCA4NiUpO1xuICAtLW5lb25HcmVlbjogaHNsKDE1MCwgMTAwJSwgNjYlKTtcblxuICAvKiBOZXV0cmFsICovXG4gIC0tZ3JheWlzaEJsdWU6IGhzbCgyMTcsIDE5JSwgMzglKTtcbiAgLS1kYXJrR3JheWlzaEJsdWU6IGhzbCgyMTcsIDE5JSwgMjQlKTtcbiAgLS1kYXJrQmx1ZTogaHNsKDIxOCwgMjMlLCAxNiUpO1xufVxuXG4qLFxuKjo6YmVmb3JlLFxuKjo6YWZ0ZXIge1xuICBtYXJnaW46IDA7XG4gIHBhZGRpbmc6IDA7XG4gIGJveC1zaXppbmc6IGluaGVyaXQ7XG59XG5cbmh0bWwge1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICBmb250LXNpemU6IDYyLjUlO1xufVxuXG5ib2R5IHtcbiAgZm9udC1mYW1pbHk6IFwiTWFucm9wZVwiLCBzYW5zLXNlcmlmO1xuICBoZWlnaHQ6IDEwMHZoO1xuICBtaW4taGVpZ2h0OiAxMDB2aDtcbiAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tZGFya0JsdWUpO1xuICBkaXNwbGF5OiBmbGV4O1xuICBwbGFjZS1jb250ZW50OiBjZW50ZXI7XG4gIHBsYWNlLWl0ZW1zOiBjZW50ZXI7XG59XG5cbm1haW4ge1xuICBoZWlnaHQ6IDEwMCU7XG4gIHdpZHRoOiAxMDAlO1xuICBkaXNwbGF5OiBncmlkO1xuICBwbGFjZS1jb250ZW50OiBjZW50ZXI7XG59XG5cbmgxIHtcbiAgZm9udC1zaXplOiAxLjNyZW07XG4gIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gIGxldHRlci1zcGFjaW5nOiAwLjJyZW07XG4gIGNvbG9yOiB2YXIoLS1uZW9uR3JlZW4pO1xufVxuXG4uY2FyZCB7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLWRhcmtHcmF5aXNoQmx1ZSk7XG4gIGNvbG9yOiB2YXIoLS1saWdodEN5YW4pO1xuICBtaW4taGVpZ2h0OiAzNXJlbTtcbiAgd2lkdGg6IDU1cmVtO1xuICBtaW4td2lkdGg6IDUwcmVtO1xuICBib3JkZXItcmFkaXVzOiAycmVtO1xuICBwYWRkaW5nOiA1cmVtIDRyZW07XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIGdhcDogMy41cmVtO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbn1cblxuLmFkdmljZS13cmFwcGVyIHtcbiAgbWFyZ2luLXRvcDogYXV0bztcbiAgbWFyZ2luLWJvdHRvbTogYXV0bztcbiAgd2lkdGg6IDEwMCU7XG59XG5cbi5hZHZpY2Uge1xuICBmb250LXNpemU6IHZhcigtLXF1b3RlLWZvbnQtc2l6ZSk7XG59XG5cbi5kaXZpZGVyLWRlc2t0b3Age1xuICBtYXJnaW4tYm90dG9tOiAxcmVtO1xuICBtYXJnaW4tdG9wOiBhdXRvO1xufVxuXG4uZGl2aWRlci1tb2JpbGUge1xuICBkaXNwbGF5OiBub25lO1xufVxuXG4uZGljZSB7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLW5lb25HcmVlbik7XG4gIGJvcmRlci1yYWRpdXM6IDUwJTtcbiAgd2lkdGg6IDVyZW07XG4gIGFzcGVjdC1yYXRpbzogMSAvIDE7XG4gIGRpc3BsYXk6IGdyaWQ7XG4gIHBsYWNlLWNvbnRlbnQ6IGNlbnRlcjtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICBib3R0b206IDA7XG4gIHRyYW5zZm9ybTogdHJhbnNsYXRlWSg1MCUpO1xuICBjdXJzb3I6IHBvaW50ZXI7XG59XG5cbi5kaWNlOmhvdmVyIHtcbiAgYm94LXNoYWRvdzogMCAwIDJyZW0gMC40cmVtIHZhcigtLW5lb25HcmVlbik7XG59XG5cbi5hdHRyaWJ1dGlvbiB7XG4gIGZvbnQtc2l6ZTogMTFweDtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGJvdHRvbTogMXJlbTtcbiAgbGVmdDogNTAlO1xuICB0cmFuc2Zvcm06IHRyYW5zbGF0ZVgoLTUwJSk7XG4gIGNvbG9yOiB2YXIoLS1saWdodEN5YW4pO1xuICBtYXJnaW4tYm90dG9tOiAzcmVtO1xufVxuXG4uYXR0cmlidXRpb24gYSB7XG4gIGNvbG9yOiBoc2woMTUsIDYyJSwgODMlKTtcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xuICB0cmFuc2l0aW9uOiBjb2xvciAwLjJzIGVhc2U7XG59XG5cbi5hdHRyaWJ1dGlvbiBhOmhvdmVyIHtcbiAgY29sb3I6IGhzbCgxNCwgMzElLCA1MiUpO1xufVxuXG5AbWVkaWEgb25seSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDUwMHB4KSB7XG4gIC5jYXJkIHtcbiAgICB3aWR0aDogOTAlO1xuICAgIG1pbi13aWR0aDogMDtcbiAgICBtaW4taGVpZ2h0OiAzMnJlbTtcbiAgICBtYXJnaW46IC03cmVtIGF1dG8gMDtcbiAgfVxuXG4gIGgxIHtcbiAgICBmb250LXNpemU6IDFyZW07XG4gIH1cblxuICAuYWR2aWNlIHtcbiAgICBmb250LXNpemU6IDJyZW07XG4gIH1cblxuICAuZGl2aWRlci1kZXNrdG9wIHtcbiAgICBkaXNwbGF5OiBub25lO1xuICB9XG5cbiAgLmRpdmlkZXItbW9iaWxlIHtcbiAgICBkaXNwbGF5OiBibG9jaztcbiAgfVxuXG4gIC5hdHRyaWJ1dGlvbiB7XG4gICAgZGlzcGxheTogbm9uZTtcbiAgfVxufVxuIl19 */